

/*
=============== 
Navbar
===============
*/
nav {
  background: var(--white-color); 
  box-shadow: var(--light-shadow);
  
  
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
 
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--secondary-color); 
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--red-color); 
  transform: rotate(90deg);
}
.logo {
	width: 7rem;
}
.links a {
  color: var(--main-color);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}
.links a:hover {
   background: var(--red-color); 
  color: var(--white-color); 
  padding-left: 1.5rem;
}
.nav-icons {
  display: none;
}
.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
/* .show-container {
 height: 12rem;

} */

.active-nav {
	position: relative;
}

.active-nav::after {
	content: "";
	display: block;
	width: 3rem;
	height: 0.1rem;
	background: var(--secondary-color);
	position: absolute;
	margin-top: 0.2rem;
}

/* media queires  (medium and small screens)  1024*/
@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px; 
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
    color: var(--red-color); 
  }
  .nav-icons {
    display: flex;
    align-items: center;
    justify-content:center;
  }
  .nav-icons a {
    margin: 0 0.5rem;
    color: var(--main-color); 
    transition: var(--transition);
  }
  .nav-icons a:hover {
    color: var(--red-color); 
  }
}
