
.cards__section{
	margin:0 auto;
	padding:2rem;
	align-items:center;
	text-align:center;
	height:auto;
	
	
}

.cards__section h2{
margin-bottom:4rem;

}

.container{
	margin:0 auto;
}

.title{
	margin-bottom:4rem;
}

.card__container {
	
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	gap: 3rem; 
	align-items: center;
	width: 100%;
	padding:1rem;
	
	
}

.cards {
	
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 3rem;
	align-items: center;
	
	
}

.single-card {
	width: 260px;
	border-radius: 1rem;
	box-shadow: var(--dark-shadow);
	margin-bottom: 30px;
	overflow: hidden;
	padding: 2rem;
	text-align: left;
	
}

.card-image {
	height: 12rem;
	width: 100%;
	object-fit: cover;
	border-radius: var(--border-radius);
}

.single-card:hover .card-image {
	transform: scale(1.06);
	transition: var(--transition);
}

.single-card h3{
	color:var(--text-color);
	font-size:1rem;
	font-weight:bold;
}

/* media queries */



@media screen and (max-width: 650px) {
	
	
	.cards {
		grid-template-columns:1fr;
		justify-content: center;
		align-items:center;
	}

	.single-card {
		width: 260px;
		margin:0 auto;

	}

	
	h1 {
		font-size: 2rem;
	}

	h2 {
		font-size: 1.2rem;
	}

	 p {
		font-size: 0.7rem;
	}

	.single-card h3{
	color:var(--text-color);
	font-size:0.8rem;
	font-weight:bold;
}
}


