footer {
	margin-top: auto;
	background-color: var(--main-color);
	text-align:center;
}

.footer__container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	background-color: var(--main-color);
	padding: 0 2rem;
}

.footer-links a {
	color: var(--white-color);
	font-size: 0.8rem;
}

.footer-links a:hover {
	color: var(--secondary-color);
}

.icons-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	text-align: center;
}
/* 
.icons-container h4 {
	color: var(--white-color);
	margin-left: 2rem;
	margin-bottom:auto;
} */
.footer-icons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	margin-top: 2rem; 
	margin-bottom: auto;
}

.footer-icons a {
	color: var(--white-color);
}

.footer-icons a:hover {
	color: var(--secondary-color);
	transition: var(--transition);
}

.btn-and-logo {
	padding-top:1rem;
	display: flex;
	flex-direction: column;
	/* padding-left: 2rem; */
	
}

small {
	color: var(--white-color);
	font-size: 0.5rem;
	margin-top: -2rem;
	/* margin-left:2rem; */
}

.copyright {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 0.2rem;
}

.copyright .lemon {
	color: var(--secondary-color);
	margin-left: 0.1rem;
	font-weight: bold;
}

.copyright .little {
	font-weight: bold;
}

/* media */
/* 481px */
@media screen and (max-width: 481px) {
	.footer__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100vw;
		margin: 0 auto;
	}

	.footer-links a {
		font-size: 0.7rem;
	}

	/* .icons-container h4 {
		margin-left: 1rem;
	} */

	.footer-icons a {
		font-size: 0.5rem;
		margin-top: -3rem;
	}

	.btn-and-logo {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-left: 2rem;
		place-items: center;
	}

	.btn-and-logo .btn {
		width: max-content;
		display: inline-block;
		background-color: var(--secondary-color);
		color: var(--main-color);
		padding: 0.6rem 1rem;
		border-radius: 0.4rem;
		cursor: pointer;
		transition: var(--transition);
		margin-top: 1rem;
		margin-bottom: 3rem;
	}

	small {
		color: var(--white-color);
		font-size: 0.4rem;
		/* margin-bottom:-0.5rem; */
	}
}

/* 768px */

@media screen and (max-width: 768px) {
}

/* 1024 */

@media screen and (min-width: 1024px) {
}

/* 1200 */

@media screen and (min-width: 1200px) {
	.footer__container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: center;
		margin: 0 auto;
		background-color: var(--main-color);
		padding: 0 2rem;
	}
}
