.section{
	background-color : blue;
}



.footer__container {
	background-color: var(--main-color);
	width: 100vw;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row; 
	padding-top: 10px;
}

.footer-links li >a{
color:var(--white-color);
background-color : blue;
}

.footer-icons li>a{
   color:var(--white-color); 
}

.active-nav {
	position: relative;
}

.active-nav::after {
	content: "";
	display: block;
	width: 3rem;
	height: 0.1rem;
	background: var(--secondary-color);
	position: absolute;
	margin-top: 0.2rem;
}
