
.footer__section{
   background-color:var(--main-color); 
   width: 100%;
   height:100%;
	margin: 5rem auto;
	max-width: var(--max-width);
}

.footer__container{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    background-color:var(--main-color);
    gap: 1rem;
    align-items:center;
}



.footer-links a{
    color:var(--white-color);
}

.footer-icons{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
}

.footer-icons a{
    color:var(--white-color);
}

.footer-icons a:hover{
    color:var(--secondary-color);
    transition:var(--transition);
}



@media screen and (min-width: 992px) {
	.footer__section {
		width: 95vw;
	}
}

@media (min-width: 800px) {
    	.footer__section {
		width: 90vw;
		margin: 5rem auto;
		max-width: var(--max-width);
	}
}