@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Markazi+Text:wght@400;500;600;700&display=swap");

/* reserting */
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border:0;
	outline:0;
	list-styles:none;
	text-decoration:none;
}

/* global-styles */
:root {
	/**
   * colors
   */

	--main-color: #495e57;
	--secondary-color: #f4ce14;
	--primary-color: #927b07;
	--tertiary-color: #faeb9e;
	--white-color: #fff;
  --black-color: #000;
  --red-color: hsl(360, 67%, 44%);
	--light-gray: #d3d3d3;
  --text-color:#001d38;
	/**
   * border-radius
   */
	
	

/**
   * container
   */

   --container-width-lg: 75%;
   --container-width-md: 80%;
   --container-width-sm: 90%;
   
	
  /**
   * transition
   */

  --transition: all 500ms ease;
  --transition-2: all 0.3s linear;

/**
   * additional
   */
    
  --spacing: 0.1rem;
  --border-radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
  


}


html{
	scroll-behavior: smooth;
}

body {
	font-family: "Karla", sans-serif, "Markazi Text", serif;
	line-height:1.7;
	overflow-x:hidden;
    max-width:1920px;
   
	
}

.container {
    width: var(--container-width-lg);
    max-width:1920px; 
    margin:0 auto;
}

section{
    margin-top: 8rem;
}

/**
   * main-button
   */

   .btn{
    width: max-content;
    display :inline-block;
    background-color: var(--secondary-color);
    color: var(--main-color);
    padding: 0.75rem 1.2rem;
    border-radius:0.4rem;
    cursor:pointer;
    transition:var(--transition);
    margin-top:1rem;
   }

   .btn:hover {
	background-color: var(--primary-color);
	color: var(--white-color);
	
} 

/**
   * other-button
   */

.btn-primary {
	width: max-content;
    display :inline-block;
    background-color: transparent;
    border: solid 2px var(--secondary-color);
    color: var(--main-color);
    padding: 0.75rem 1.2rem;
    border-radius:0.4rem;
    cursor:pointer;
    transition:var(--transition);

}

.btn-secondary:hover {
	background-color: var(--main-color);
	color: var(--white-color);
	border: none;
	
} 


h1,h2,h3{
    line-height: 1.2;
    color:var(--text-color);
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    margin-bottom: 0.75rem;
}

h1{
    font-size:3rem;
}
h2{
    font-size:2rem;
}

p{
    margin-bottom: 1.25rem;
}
a{
    text-decoration:none;
}
li{
    list-style:none;
    color:var(--main-color);
}

img{
    display:block;
    object-fit:cover;
    width:100%;
}



@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

/* section */
.section {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}
