@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Markazi+Text:wght@400;500;600;700&display=swap");

/* reserting */
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* global-styles */
:root {
	/* color */
	--main-color: #495e57;
	--secondary-color: #f4ce14;
	--primary-color: #927b07;
	--tertiary-color: #faeb9e;
	--white-color: #fff;
	--light-gray: #d3d3d3;
	/* border-radius */
	--border-radius: 1em;
}

body {
	font-family: "Karla", sans-serif, "Markazi Text", serif;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

.btn {
	display: inline-block;
	background-color: var(--secondary-color);
	color: var(--main-color);
	padding: 15px 32px;
	border-radius: 8px;
	font-size: 10px;
	border: none;
	/* width: 50px; */
	text-align: center;
}

.btn:hover {
	background-color: var(--primary-color);
	color: var(--white-color);
	transition: all 200ms ease-in;
}

h2 {
	font-size: 1.5rem;
	font-family: "Markazi Text", serif;
	text-transform: capitalize;
	/* padding-bottom: 2px;
	padding-top: 2px; */
}

h3 {
	font-size: 1rem;
	font-family: "Karla", sans-serif;
	text-transform: capitalize;
	padding-bottom: 2px;
	padding-top: 2px;
}

p {
	font-size: 0.8rem;
	font-family: "Karla", sans-serif;
	line-height: 1.5;
	padding-bottom: 10px;
}

/* //////////////////////////////////////////////// */

/* nav */

.nav {
	width: 100vw;
	height: 100px;
	background-color: var(--white-color);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	margin-right: 20px;
	left: 0;
	top: 0;
}

.logo {
	height: 50px;
	width: 150px;
}

.nav-items {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	margin-bottom: 26px;
}

.nav-list {
	align-text: center;
}

.nav-link {
	color: var(--main-color);
	font-size: 1.2rem;
	display: inline-block;
	font-weight: bold;
}

.nav-link::before {
	content: "";
	width: 0%;
	height: 3px;
	display: block;
	background-color: var(--secondary-color);
	margin-bottom: 10px;
}

.nav-link:hover::before {
	width: 100%;
	transition: all 0.5s;
}

.nav-link:hover {
	color: var(--primary-color);
	transition: all 0.5s;
}

.nav .icon {
	width: 10px;
	height: 10px;
	padding-right: 5px;
}

/* //////////////////////////////////////////////// */

/* hero */
.container {
	width: 100vw;
	height: 400px;
	/* height: 100vh; */
	background-color: var(--main-color);
	color: var(--white-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	margin: 0 10px;

	/* padding-top:100px; */
}

.hero-content {
	padding-top: 50px;
	margin: 50px;
}

.hero-content h1 {
	font-size: 2.5rem;
	font-family: "Markazi Text", serif;
	font-weight: bold;
	text-transform: capitalize;
	margin-top: 0px;
	/* padding-bottom: 2px; */
	/* line-height: 0.3; */
}

.hero-content .lemon {
	color: var(--secondary-color);
}

.hero-image-container {
	/* padding-top: 30px;
	margin-right: 30px;
	border-radius: var(--border-radius); */
}

.hero-image {
	/* object-fit: cover; */
	height: 12rem;
	width: 100%;
	/* width: 200px;
	height: 200px; */
	/* overflow: hidden; */
	border-radius: var(--border-radius);
	margin-top: 60px;
	/* padding-top: 60px; */
	padding-right: 30px;
}

.hero .btn {
	padding-bottom: 30px;
	margin-bottom: 30px;
}

/* //////////////////////////////////////////////// */

/* menu */

section h2 {
	text-align: center;
}

#menu-outer {
	height: 84px;
}

.table {
	display: table;
	margin: 0 auto;
}

.menu-items {
	display: flex;
	justify-container: space-between;
	align-items: center;
	gap: 10px;
	/* /* margin: 0 auto; */
	padding: 10px;
	/* text-align: center; */
}

.menu-list {
	text-align: center;
}
.menu-list .btn {
	background-color: var(--main-color);
	color: var(--white-color);
}

/* //////////////////////////////////////////////// */

/* cards */



.card-container {
	/* display: grid;
	grid-template-columns: repeat (auto-fit, minmax(12rem, 16rem));
	grid-auto-rows: 1fr;
	gap: 2rem;
	justify-content: center; */
}

.card {
	overflow: hidden;
	box-shadow: 0 2px 20px var(--light-gray);
	border-radius: 5px;
	display: flex;
	flex-direction: column; 
	justify-content: space-between;
	cursor: pointer;
	transition: transform 200ms ease-in;
	 gap: 2rem; 
	
} 

.card:hover {
	transform: scale(1.02);
}

.card-image {
	height: 12rem;
	width: 100%;
	object-fit: cover;
}

.card-body h3 {
	padding: 1rem;
}

.card-body p {
	padding: 0 1rem;
}

/* .card-container {
	max-width: 50%;
	margin: 0 auto;
}

.grid {
	display: grid;
	/* grid-template-columns: repeat(4, 100px); */
/* grid-template-rows: 2fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 3%;
} */

/* .card {
	margin-bottom: 200px;
	overflow: hidden;
	padding: 20px;
	background-color: var(--white-color);
	border-radius: 30px;
	text-align: center;
} */

/* .card-image img {
	width: 100%;
	height: auto;
	border-radius: 10px;
} */

/* .card-content {
	padding: 26px 20px 26px 20px;
	font-size: 10px;
	padding-bottom: 5px;
} */

/* .container {
	display: grid;
	grid-template-columns: repeat(3, 100px);
	grid-template-rows: 2fr 1fr;
}

.logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
} */
